$firstColor:#FFE600;
$secondColor:#333333;
$thirdColor:#666666;
$fourthColor: #999999;
$backgroundColor: #EEEEEE;
$buttonColor: #3483FA;
$whiteColor: #FFFFFF;
$tiny: 12px;
$small: 14px;
$normal: 16px;
$big: 18px;
$extraBig: 20;
$doubleBig: 24px;
$tripleBig: 28px;
$huge: 32px;
$giant: 46px;